<div class="card" >
  <div class="card-body">
    <div class="card-flex">
      <h5 class="card-title">{{note.NoteTitle}}</h5>
      <div class="note-options ">
        <button type="button" class="btn dropleft" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span >&#xf0c9;</span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <button class="dropdown-item" >Edit</button>
          <button class="dropdown-item" (click)=onDeleteNote(note)>Delete</button>
        </div>
      </div>
    </div>
    <hr style="background-color: #20D38F;">
    <pre><p class="card-text">{{note.NoteText}}</p></pre>
    <div class="card-flex">
      <span class="card-text"><small class="text-muted">{{note.CreateDateTime | date:'EEEE h:mm:ss a'}}</small></span>
    </div>
    
  </div>
</div>
