<section class="main-section">
    <article class="container" [ngClass]="{'container-blur':formVisible}">
        <h5 *ngIf="notelistCollection.length == 0" style="color:#fff;">You Don't have any note yet</h5 >
        <app-note *ngFor="let item of notelistCollection"
            [note]=item>
        </app-note>
    </article>
    <app-template-form [showForm]="formVisible" (onAddNoteClickEmit)="onAddNoteClickSub($event)"></app-template-form>
    <button class="add-note btn" (click)="addNewNote()">
        <i class="fa fa-plus"></i>
    </button> 
</section>
