@import url("//cdn.web-fonts.ge/fonts/bpg-mrgvlovani/css/bpg-mrgvlovani.min.css");

* {
    box-sizing: border-box;
    font-family: "BPG Mrgvlovani", sans-serif;
  }
body{
    background-color: #20242A;
 
    padding: 0px;
    margin: 0px;
}

.btn:focus, .btn:active {
  box-shadow: none !important;
  outline:  none !important;
}
